<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.selim_jnu.kothayacho">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.selim_jnu.kothayacho.HowToUseActivity"
            android:exported="false"
            android:label="@string/title_activity_how_to_use"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.selim_jnu.kothayacho.IndividualOfficer"
            android:exported="false" />
        <activity
            android:name="com.selim_jnu.kothayacho.AdminActivity"
            android:exported="false" />
        <activity
            android:name="com.selim_jnu.kothayacho.Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.selim_jnu.kothayacho.SignInActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR API KEY" />

        <activity
            android:name="com.selim_jnu.kothayacho.MainActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme" />
        <activity android:name="com.selim_jnu.kothayacho.VerifyActivity" />
    </application>

</manifest>